/* --------------------------------- Sass Mixins --------------------------------- */

@mixin centrage-avec-hauteur{
      // place le contenu au centre de la page
      display: flex;
      justify-content: center;
      align-items: center;
}