/* --------------------------------- Sass Variables --------------------------------- */


// ------------------------------------------COULEURS--------------------------------------

$background-color: #ffffff;
$text-color: #030303;
$darker-green-color: #019961;
$dark-green-color: #3dad5c;
$medium-green-color: #79c258;
$lighter-green-color: #b5d653;

// ------------------------------------------FONTS--------------------------------------

$font-family-title: "Montserrat", serif;
$font-family-text: "Roboto", serif;






// ------------------------------------------FONT SIZE--------------------------------------

$font-size-title-1: 42px;
$font-size-title-2: 24px;
$font-size-text: 18px;
