/* --------------------------------- Sass Variables --------------------------------- */


// ------------------------------------------COULEURS--------------------------------------

$background-color: #ffffff;
$text-color: #030303;
$darker-green-color: #019961;
$dark-green-color: #3dad5c;
$medium-green-color: #79c258;
$lighter-green-color: #b5d653;
$border-color: #e0e0e0;

// ------------------------------------------FONTS--------------------------------------

$font-family-title: "Montserrat", serif;
$font-family-text: "Roboto", serif;






// ------------------------------------------FONT SIZE--------------------------------------

// DESKTOP
@media only screen and (min-width : 1920px){
$font-size-title-1: 42px;
$font-size-title-2: 20px;
$font-size-text: 18px;
}

//NOTEBOOK
@media only screen and (min-device-width : 1366px) and (max-device-width : 1919px){
  $font-size-title-1: 40px;
  $font-size-title-2: 18px;
  $font-size-text: 16px;  
}

//TABLETTE
@media only screen and (min-device-width : 768) and (max-device-width : 1365px){
  $font-size-title-1: 38px;
  $font-size-title-2: 16px;
  $font-size-text: 14px;  
}

//MOBILE
@media only screen and (min-device-width : 360px) and (max-device-width : 767px){
  $font-size-title-1: 36px;
  $font-size-title-2: 14px;
  $font-size-text: 12px;  
}