/* --------------------------------- Header --------------------------------- */
header{
  // caratéristiques principales du header

  // le header reste fixe en haut de la page
  position: fixed;
  top: 0;
  // le header s'étend sur toute la largeur de la page
  left: 0;
  right: 0;


  display: flex;
  align-items: center;
  padding: 1em 5em;
  background-color:$background-color;
  // en dessous du header
  border-bottom: 1px solid $border-color;
  // ombre de la ligne
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);


  .header-flex{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;

    // caractéristiques du logo
    img{
      width: 10em;
      height: auto;
      margin-right: 1em;
    }
  }

  // caractériqtiues principales de la nav qui comprend la liste et les liens
  nav{
    margin-left: 2em;

    // caractéristiques de la liste
    ul{
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;
      }

    li{
      margin-right: 2em;
      
      }

    // caractéristiques des liens
    a{  

      // /!\ !important surpasse toutes les autres priorités
        color: $darker-green-color !important;
        text-decoration: none;
        font-size: $font-size-text;

    // caractéristiques des liens au survol de la souris
        &:hover{
          text-decoration: underline;
          color: $darker-green-color;
        }

    // caractéristiques des liens au clic
        &:active{
          font-weight: bold;
        }

      }
    }
  }