/* --------------------------------- Buttons --------------------------------- */

.button_1 {
  display: block;
  color: $background-color;
  background: linear-gradient(to right, $lighter-green-color, $medium-green-color);
  border-color: $medium-green-color;
  font-family: $font-family-text;
  font-size: $font-size-text;
  font-weight: 500;
  border-radius: 40px;
  box-shadow: $lighter-green-color;
  width: 150px;
  padding: 10px;
  text-align: center;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;


  &:hover{

  background: $dark-green-color;
  color: $background-color;

}
}

.button_2{
  background-color:$background-color;
  border-color: $dark-green-color;
  color: $dark-green-color;
  font-family: $font-family-text;
  font-size: $font-size-text;
  font-weight: 500;
  width: 150px;
  padding: 10px;
  border-radius: 40px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;


&:hover{

  background-color: $dark-green-color;
  color: $background-color;
}
}


// <div class="flex_boutons">
//           <div class="premier_bouton">
//             <input class="button_1" type="button" value="Commencer">
//           </div>
//           <p>ou</p>
//           <div class="deuxième_bouton">
//             <input class="button_2" type="button" value="En savoir plus">
//           </div>
//         </div>
