/* --------------------------------- Buttons --------------------------------- */

.button_1 {
  display: block;
  color: $background-color;
  background: linear-gradient(to right, $lighter-green-color, $dark-green-color);
  border-color: $medium-green-color;
  border-bottom: none;
  border-right: none;
  font-family: $font-family-text;
  font-size: $font-size-text;
  font-weight: 500; 
  border-radius: 40px;
  // box-shadow: $lighter-green-color;
  filter: drop-shadow(0px 3px 3px $medium-green-color);
  width: 150px;
  padding: 10px;
  text-align: center;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;

@media screen and (max-width : 360px) {
  width: 320px;
  padding: 15px;
  align-self: center;
}

  &:hover{

  background: $dark-green-color;
  color: $background-color;
}

}

.button_2{
  background-color:$background-color;
  border-color: $dark-green-color;
  color: $dark-green-color;
  font-family: $font-family-text;
  font-size: $font-size-text;
  font-weight: 500;
  box-shadow: $dark-green-color;

  width: 150px;
  padding: 10px;
  border-radius: 40px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;



&:hover{ 

  background-color: $dark-green-color;
  color: $background-color;
  
}
@media screen and (max-width : 360px) {
  width: 320px;
  padding: 15px;
  align-self: center;
}
}


.button_3 {
  color: $background-color;
  background: linear-gradient(to right, $lighter-green-color, $dark-green-color);
  border-color: $medium-green-color;
  font-family: $font-family-text;
  font-size: $font-size-text;
  font-weight: 500;
  border-radius: 40px;
  box-shadow: $lighter-green-color;
  width: 150px;
  padding: 10px;
  text-align: center;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  margin-top:3%;
  margin-left: 400px;
  margin-bottom: 20px;

  &:hover{

  background: $dark-green-color;
  color: $background-color;

}
}