
/*     ..............    desktop   +   notebook     ..............*/

@media (min-width:769px) {


#body-apropos{
    overflow: hidden;
    height: 100vh;
    padding: 0;
    margin: 0;

#main-apropos{
    display: flex;
}

/*               1ere page page principale                       */

.slider{
    display: flex;
    width: 200vw;
    transition: 0.4s ease-in;

    #block1{
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        
        .left-image-container{
            display: flex;
            align-items: center;
            justify-content: space-around;
            transform: translateY(-100px);

       /* .container-color{
            left: 0;
            width: 800px;
            height: 300px;
            */
        }
        }
        .right-texte-container{
            width: 700px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: start;
            transform: translateY(-25%);
            margin-left: 10%;

        .point_and_title{
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 20px;
            padding-bottom: -20px;

        .point{
            width: 20px;
            height: 20px;
            border-radius: 20px;
            background-color: $medium-green-color;
        }
       /* h1{
            font-size: 3em;
            font-family: $title-font;
            font-weight: 600;
            color: black;
        }*/
        }
        .corpsdetexte{
            font-weight: 300;
            line-height: 40px;
            padding-bottom: 5px;
        }

 /*mobile*/
        #content-block1{
            display: none;


            // @media screen and (max-width: 360px) {
            //     #content-block1{ 
            //         text-align: end;
            //     }
            // }
        }
/*fin mobile*/

        #greencolor {
            background: rgb(181, 214, 83);
            background: linear-gradient(150deg,
                rgba(181, 214, 83, 1) 0%,
                rgba(121, 197, 88, 1) 32%,
                rgba(61, 173, 92, 1) 74%);
            width: 300px;
            height: 3px;
            border-radius: 10px;
            margin-bottom: 5px;
          } 

        h3 {
            font-family: $font-family-title;
            font-weight: 500;
            color: black;
            font-size: 1.3em;
            line-height: 40px;
        }

 /*mobile*/
        #content-h3-block1{
            display: none;
        }
/*fin mobile*/

        }
        #imgarrow{
            width: 40px;
            margin-right: 80px;
            transform: translateY(-110px);
            img{
                width: 70px;
            }
        }
        #imgarrow:hover{
            cursor: pointer;
        }
        }

/*   .....séparation entre les 2 blocks de page : block2.......      */

        #block2{
            width: 100vw;
            height: 100vh;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        
        .left-text-container{
            width: 800px;
            transform: translate(250px, -200px);

        .sous-container-left-2{
            display: flex;
            flex-direction: row;
            align-items: start;
            align-items: center;
            gap: 20px;

          #leftarrow{
            width: 40px;
            transform: translateX(-50px);

            #leftarrow:hover{
                cursor: pointer;
            }

            img{
                width: 70px;
            }
          }
         /* #leftarrow:hover{
            cursor: pointer;
          }*/

          .title-and-para{
            display: flex;
            flex-direction: column;

            .point-and-title2{
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 20px;

                h2{
                    font-size: 3em;
                    padding-bottom: 10px;
                    font-family: $font-family-title;
                    font-weight: 600;
                    color: black;
                }
                .point2{
                    width: 20px;
                    height: 20px;
                    border-radius: 20px;
                    background-color: $medium-green-color;
                    margin-bottom: 10px;
                }
            }
            #block2-p2{
                display: none;
            }
            #greencolor2{
                display: none;
            }

            #block2-p{
                font-size: 1.5em;
                line-height: 40px;
                font-family: $font-family-text;
                color: black;
                font-weight: 400;
                margin-top: 1px;
            }
          }
        }
        }
        }

        .right-image-container{
            display: flex;
            justify-content: end;
            transform: translateX(200px);

            #img-block2{
                width: 100%;
            }
        }
        }
      }
        /*     ....         mobile  +  tablette         ....        */

        @media(max-width:768px){

            #body-apropos {
              width: 100%;

          
              #main-apropos {
                display: flex;
                flex-direction: column;
                height: 70vh;
                overflow: hidden;
                justify-content: space-between;
              }
          
              .slider {
                width: 200vw;
          
                #block1 {
                  width: 100vw;
                  display: flex;
                  flex-direction: column;
          
                  .left-image-container {
                    // width: 90%;
                    // transform: translate( -400px, -20px);
                    
                    #img-ordi{
                      width: 80%;
                      margin-top: 70px ;
                      padding-right: 80px;
                    }
                    /*.container-color {
                      width: 9%;
                      height: 0px;
                    }*/
          
                    /*#img-feuille {
                      width: 90%;
                      transform: translate(5px, -20px);
                    }
          
                    #img-pc {
                      width: 70%;
                      transform: translate(0, 30px);
                    }*/
                  }
          
                  .right-texte-container {
                    width: 100vw;
                    transform: translate(0px, -99px);
                    padding-left: 50px;
                    margin: 0;
          
                    .point_and_title {
                      padding: 0;
                      margin: 0;
                      transform: translate(-20px, -250px);
          
                      .point {
                        display: none;
                      }
          
                      h1 {
                        font-size: 180%;
                        margin-bottom: 0;
                        margin-top: 20%;
                        padding-top: 0;
                        width: 100%;
                      }
                    }
          
                    p {
                      display: none;
                    }
          
                    #content-block1 {
                      font-family: $font-family-text;
                      display: block;
                      font-size: 90%;
                      font-weight: 400;
                      line-height: 120%;
                      width: 80%;
                      text-align: start;
                      padding-bottom: 1px;
                    }
                    
                    .green-line{
                    border-bottom: $dark-green-color solid;
                    border-bottom-width: 2px;
                    width: 40%;
                    margin: 1.5rem  0rem;
                    }
          
                    h3 {
                      display: none;
                    }
          
                    #content-h3-block1 {
                      font-family: $font-family-title;
                      font-weight: 400;
                      font-size: 50%;
                      margin-top: 0px;
          
                      display: block;
                      font-size: 100%;
                    }
                  }
          
                  #imgarrow {
                    width: 50px;
                    height: 10%;
                    transform: translate(290px, -440px);
                    cursor: pointer;
          
                    img {
                      width: 90%;
                    }
                  }
                }

  /*   ...........separation entre les 2 blocks de pages   ..........*/
          
                #block2 {
                  width: 100vw;
                  display: flex;
                  justify-content: start;
                  flex-direction: column-reverse;
                  padding-top: 19px;
          
                  .left-text-container {
                    width: 90%;
                    transform: translate(0);
          
                    .sous-container-left-2 {
                      #leftarrow {
                        width: 200px;
                        transform: translate(10px, -100px);
                        cursor: pointer;
          
                        #left-arrow {
                          width: 130%;
                        }
                      }
          
                      .title-and-para {
                        .point-and-title2 {
                          h2 {
                            font-size: 180%;
                            transform: translate(-20px, -160px);
                          }
          
                          .point2 {
                            display: none;
                          }
                        }
          
                        #block2-p {
                          display: none;
                        }
          
                        #block2-p2 {
                          width: 120%;
                          display: block;
                          font-family: $font-family-text;
                          font-weight: 300;
                          font-size: 90%;
                          transform: translate(-45px, 60px);
                        }
                      }
                    }
                  }
          
                  .right-image-container {
                    padding-top: 0px;
                    transform: translate(50px, 100px);
                    width: 60%;
                  }
                }
              }
            }
        }