
    /*Creation bord jaune texte*/
.moitie-texte{
    border: yellow solid 1px;

    /*Taille texte*/
  width: 50%;  
  height: 100%;
    
    /*marge haute*/
    margin-top: 20%;
}


    /*ajustement taille background image*/
.background-image-apropos{
    border: red solid;
    height: 102vh;
    background: url(/ressources/images/tente-camping.svg) right -20em bottom -10em;
    background-repeat: no-repeat;
    background-size: 75%;
}
.custom-slider { display: none; }
.slide-container {
  
    position: relative;
    margin: auto;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    bottom: 50%;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: green;
    font-size: 30px;
    background-color: rgba(0,0,0,0);
    transition: background-color 0.6s ease;
}
.prev{ left: 15px; }
.next { right: 15px; }
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.5);
}
