
    /*Creation bord jaune texte*/
.moitie-texte{
    border: yellow solid 1px;

    /*Taille texte*/
  width: 50%;  
  height: 100%;
    
    /*marge haute*/
    margin-top: 20%;
}


    /*ajustement taille background image*/
.background-image-apropos{
    border: red solid;
    height: 102vh;
    background: url(/ressources/images/tente-camping.svg) right -20em bottom -10em;
    background-repeat: no-repeat;
    background-size: 75%;
}