
.main__calculateur{

  height: 60vh;
  // pour positionner les images sur backcground : url + unités
  background:       url(/ressources/images/background-feuille1-calculateur.svg) top 2rem left -17rem,
                    url(/ressources/images/background-feuille2-calculateur.svg)bottom -10rem left -17rem,
                    url(/ressources/images/rond-creux-vert-medium.svg) top 0.5rem right 1rem,
                    url(/ressources/images/rond-creux-vert-light.svg) top 8rem right 5rem,
                    url(/ressources/images/background-feuille3-calculateur.svg) bottom -8rem right -18rem;
  background-repeat: no-repeat;
  // redimmensionnement des images
  background-size:  70% 70%,
                    60% 60%,
                    20% 20%,
                    10% 10%,
                    70% 70%;
}

.calculateur {
  h1{
    text-align: center;
  }

  .rond-vert{
    position: absolute;
    top: 10em;
    left: 82em;
    width: auto;
    height: 10%;
    object-fit: contain;
  }

  &-flex {
    width: 60%;
    margin: auto;
    padding: 3rem 0;
    gap: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: 0px 0px 6px 6px rgba(202, 201, 201, 0.2); /* Ombre */
    border-radius: 2em;
    background-color: $background-color ;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: auto;


    label{
      padding: 1rem 0;

    }

    input{  
      border-style : none none solid none;
      border-color: $border-color;
      padding: 1rem 0;


    }
    
  }

  .button_1{
    align-self: center; 
  }
}

.popup {

  //mise en forme du popup
  box-shadow: 0px 0px 6px 6px rgba(202, 201, 201, 0.2); /* Ombre */
  border-radius: 1em;
  background-color: $background-color ;
  text-align: center;
  padding: 2rem;
  width: 55%;

  //affiche le popup au milieu de l'écran
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

