
.main__contact{
  border: red solid;
  background-image: url(/ressources/images/);
}

.contact {
  h1{
    text-align: center;
  }

  &-flex {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    margin: auto;
    box-shadow: 0px 0px 6px 6px rgba(202, 201, 201, 0.2); /* Ombre */
    border-radius: 2em;
    padding: 0em  4em 2em 4em;
  }

  &__info {
    display: flex;
    width: 100%;
    gap: 2em;

    label{
      margin-top: 3em;
    }

    input{
      border-style : none none solid none;
      border-color: $border-color;
      margin-top: 2em;

    }
    
  }

  &__info__champs {
    display: flex;
    flex-direction: column;
    width: 50%;


    &--fullwidht {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    

  }
  .button_1{
    align-self: flex-end; 
    margin-top: 2em; 
    margin-left: auto; 
  }
}
