.contact {
  border: red solid;

  h1{
    text-align: center;
  }
  &__flex {
    border: blue solid;
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
  }

  &__info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

  }



  &__champs {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 1rem;

    
    label {
    font-family: $font-family-text;
    padding-top: 1em;
    }

    input {
    font-family: $font-family-text;
    font-size: $font-size-text;
    padding-bottom: 1em;
    padding-top: 2em;
    border-style: none none solid none;
    border-color: $border-color;
    color: $border-color;

    }

    &__message{
      border: yellowgreen solid; 
    } 
  }
}
