
/* --------------------------------- Home specific styles --------------------------------- */


  /*---------- DESKTOP + NOTEBOOK ----------*/
  @media screen  and (min-width: 769px){

  .image_home{ 
      background-image: url(/ressources/images/background-homepage.svg);
      background-repeat: no-repeat;
      background-position-x: right;
      background-size: 50em;
  }
  
  .home-img{
    display: none;
  }
  
  .cadre_body{
    padding: 5em;
    }
  
  .face_à_face{
  
    display: flex;
  
  }
  
  .flex_boutons{
  
  display: flex;
  }
  
  .premier_bouton{
  
    margin-right: 0;
  }
  
  .deuxième_bouton
  {
  margin-left: 0;
  }
  
  .text{
  
  margin-bottom: 3%;
  text-align: start;
  margin-right: 70%;
  display: block;
  
  
  }
  
  h1{
    margin-top: 2em;
  }
  
  .ou{ margin-left: 2%;
  margin-right: 2%; }
  
  }
  
  /*---------- MOBILE + TABELETTE ----------*/
  @media (max-device-width : 768px){
    
    .image_home{ 
      background-image: none;
  
    .home-img{
        display: block;
        width: 80%;
        margin-left: auto;
      }
  
  }
    .text{
      padding-left: 1rem;
  
  
  }
  
  .cadre_body{
    display: flex;
    flex-direction: column;
    padding: 0rem;
  
    }
  
  .flex_boutons{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
  }
  
  .text{
  text-align: start;
  margin: 0.5rem;
  }
  
  h1{
    margin-top: 0.5em;
    font-size: 25px;
  }
  
  .ou{ 
    margin: 1.5%;
  }
  
  }
  
  
  