.page-mode-demploi{

  // laisse des marges, aère le contenu
  width: 80%;
  margin: auto;
  height: 85vh;
    // pour positionner les images sur backcground : url + unités
  background: url(/ressources/images/bubbles-bottom-left.svg) bottom 6em left 32em ,
              url(/ressources/images/bubbles-top-right.svg) top 7em right 28em;
  background-repeat: no-repeat;
  background-size: 10% ;

  h1{
    // ajoute un espace entre le titre et le header
    margin-top: 3em;
  }

  .mode-demploi{
  @include centrage-avec-hauteur;

    
    &__flex{
      // les espaces entre les 3 divs option sont égaux
      display: flex;
      justify-content: space-around;
    }

    &__option{
      padding: 2em 3em 2em 3em;
      gap: 2em;
      // ajuste la largeur et la hauteur s'ajuste automatiquement
      width: 20%;
      height: auto;
      // aligne le logo titre et texte verticalement
      display: flex;
      flex-direction: column;
      

      &:nth-child(2) {
        background: url(/ressources/images/quart-de-rond-calculateur-magique.svg) top right;
        background-repeat: no-repeat;
        // ombre sur le calculateur magique
        box-shadow: 0px 0px 6px 6px rgba(202, 201, 201, 0.2); /* Ombre */
        border-radius: 2em;
        background-color: $background-color;
      }


      img{
      // ajuste la taille des images
        height: 10em;
        padding: 5em 5em 0chem 5em ;
      }

      h2 {
        // centre le titre
        text-align: center;
        margin-top: 1em;
        padding-top: 0;
      }

      .corpsdetexte{
      // centre le corps de texte
        text-align: center;
      // aère le corps de texte
        width: 90%;
        margin: auto;
        padding-bottom: 2em;
      }
    }
  }
}