// <!-- VERSION ASTRID -->
// Container principal, aligne le contenu au centre
.main__trouver-un-velib{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;

@media screen and (max-width: 360px) {
  .main__trouver-un-velib{
    align-items: center;
    margin-top: 10%;
  
  }
}

  @media screen and (max-width: 360px) {
    .trouver-un-velib__compte-a-rebours{
      display: flex;
      flex-direction: row;
      width: 100%;
}

}

// Container du compte à rebours, 
// aligne verticalement les éléments du càrebours
  .trouver-un-velib__compte-a-rebours{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    }
}

    // Container des éléments du compte à rebours, 
    // aligne verticalement la valeur et le label
    .trouver-un-velib__compte-a-rebours__flex {
    background-color: $darker-green-color;
    font-family: $font-family-title;
    color: $background-color;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto; 
    height: auto;
  
      // Mise en forme de la valeur calculée via js
      .trouver-un-velib__compte-a-rebours__flex--valeur{
        margin: 1rem;
      }

      // Mise en forme du label
      .trouver-un-velib__compte-a-rebours__flex--label{
        margin-top: 0rem;
        font-size: 1rem;
        font-weight:400;
        margin: 0.5rem;
        @media screen  and (max-width: 360px) {

          h1{  
            font-family: $font-family-title;
            font-weight: 500;
            text-align: center;
          }
          
            .corpsdetexte{ 
              display: flex;
              flex-direction: row;
              width: 20rem;
              text-align: center;
              margin-left: 0%;
          }
          }


@media screen and (max-width: 360px) {
  .trouver-un-velib__compte-a-rebours__flex--label{
margin-top: 3rem;

  }
}

      }
    }

  // Container texte en plus
  .trouver-un-velib__description{
    text-align: center;
    width: 27%;
}




