// <!-- VERSION ASTRID -->
// Container principal, aligne le contenu au centre
.main__trouver-un-velib{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 84vh;

// Container du compte à rebours, 
// aligne verticalement les éléments du càrebours
  .trouver-un-velib__compte-a-rebours{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    }

    // Container des éléments du compte à rebours, 
    // aligne verticalement la valeur et le label
    .trouver-un-velib__compte-a-rebours__flex {
    background-color: $darker-green-color;
    font-family: $font-family-title;
    color: $background-color;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto; 
    height: auto;
  
      // Mise en forme de la valeur calculée via js
      .trouver-un-velib__compte-a-rebours__flex--valeur{
        margin: 1rem;
      }

      // Mise en forme du label
      .trouver-un-velib__compte-a-rebours__flex--label{
        margin-top: 0rem;
        font-size: 1rem;
        font-weight:400;
        margin: 0.5rem;
      }
    }
  }

  // Container texte en plus
  .trouver-un-velib__description{
    text-align: center;
    width: 27%;
}

@media (max-device-width : 1366px){
  // Container principal, aligne le contenu au centre
.main__trouver-un-velib{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

// Container du compte à rebours, 
// aligne verticalement les éléments du càrebours
  .trouver-un-velib__compte-a-rebours{
    margin: 0.5rem;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    }

    // Container des éléments du compte à rebours, 
    // aligne verticalement la valeur et le label
    .trouver-un-velib__compte-a-rebours__flex {
    background-color: $darker-green-color;
    font-family: $font-family-title;
    color: $background-color;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto; 
    height: auto;

    
  
      // Mise en forme de la valeur calculée via js
      .trouver-un-velib__compte-a-rebours__flex--valeur{
        margin: 1rem;
      }

      // Mise en forme du label
      .trouver-un-velib__compte-a-rebours__flex--label{
        margin-top: 0rem;
        font-size: 0.7rem;
        font-weight:400;
      }
    }
  }

  // Container texte en plus
  .trouver-un-velib__description{
    text-align: center;
    width: 80%;
    line-height: 2rem;
    padding-bottom: 0px;

    h1{
      font-size: 35px;
    }

    p{
      font-size: 16px;
    };
}
}