/* --------------------------------- Typography rules --------------------------------- */

h1{
  font-family: $font-family-title;
  font-weight: 600;
  font-size: $font-size-title-1;
}

h2{
  font-family: $font-family-text;
  font-size: $font-size-title-2;
}
.corpsdetexte{
  font-family: $font-family-text;
  font-size: $font-size-text;
}